<form ng-submit="$ctrl.create($ctrl.data)" aria-label="Add Page" name="addTicketForm" class="AddItem border border-light">
    <div class="upper-content">
        <h2>Add ticket</h2>
        <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
            <i class="glyphicon glyphicon-remove" aria-label="Close dialog"></i>
        </md-button>
        <div class="col-2 pl1">
            <input name="name" type="text" ng-model="$ctrl.data.Name" class="form-control"
                    required pattern="{{$ctrl.text}}"
                    placeholder="Name"
                    minlength="2" maxlength="40">
            <span style="color:red" ng-show="addTicketForm.name.$dirty && addTicketForm.name.$invalid">
            <p ng-show="addTicketForm.name.$error.required">Name is required</p>
            <p ng-show="addTicketForm.name.$error.pattern">Name must consist only of letters and digits</p>
            <p ng-show="addTicketForm.name.$error.minlength || addTicketForm.name.$error.maxlength">Please enter value between than or equal 2-40 characters</p>
        </div>
        <div class="col-2 pl1">
            <input name="description" type="text" ng-model="$ctrl.data.Description" class="form-control"
                    required pattern="{{$ctrl.details}}"
                    placeholder="Description"
                    minlength="2" maxlength="80">
            <span style="color:red" ng-show="addTicketForm.description.$dirty && addTicketForm.description.$invalid">
            <p ng-show="addTicketForm.description.$error.required">Description is required</p>
            <p ng-show="addTicketForm.description.$error.pattern">Description must consist only of letters and digits</p>
            <p ng-show="addTicketForm.description.$error.minlength || addTicketForm.description.$error.maxlength">Please enter value between than or equal 2-80 characters</p>
        </div>
        <div class="col-2 pl1">
            <input name="estimate" type="number" ng-model="$ctrl.data.Estimate" class="form-control"
                    required
                    placeholder="Estimate"
                    min="0"
                    maxlength="3">
            <span style="color:red" ng-show="addTicketForm.estimate.$dirty && addTicketForm.estimate.$invalid">
            <p ng-show="addTicketForm.estimate.$error.required">Estimate is required</p>
            <p ng-show="addTicketForm.estimate.$error.min">Positive value required</p>
            <p ng-show="addTicketForm.estimate.$error.maxlength">Please enter value less than or equal 3 digits</p>
        </div>
        <md-input-container class="col-2 pl1">
            <md-select ng-model="$ctrl.data.ResponsibleId" placeholder="Responsible">
                <md-option ng-value="responsible.Id" ng-repeat="responsible in $ctrl.users">{{ responsible.FullName }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="col-2 pl1">
            <md-select ng-model="$ctrl.data.TypeId" placeholder="Ticket Type">
                <md-option ng-value="type.id" ng-repeat="type in $ctrl.types">{{ type.name }}</md-option>
            </md-select>
        </md-input-container>
        <div class="col-2 pl1">
            <button type="submit" ng-disabled="addTicketForm.$invalid" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
