<div class="container">
    <div class="form-group has-feedback pull-left">
        <input ng-model="searchText" type="text" class="form-control" placeholder="Search" />
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
    </div>
    <button type="button" ng-click="$ctrl.add()" class="btn btn-primary pull-right">Add employee</button>
</div>
<div class="pre-x-scrollable">
    <table class="table">
        <thead>
            <tr>
                <th width="19%">Name</th>
                <th width="32%">Email</th>
                <th width="21%">Skype</th>
                <th width="18%">Phone</th>
                <th width="5%"></th>
                <th width="5%"></th>
            </tr>
            <tr>
                <th ng-if="$ctrl.dataLoading" class="item_toolbar">
                    <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </th>
            </tr>
        </thead>
        <tbody ng-if="!$ctrl.dataLoading" class="data">
            <tr ng-repeat="user in $ctrl.users | filter:searchText">
                <td width="19%">{{user.FullName}}</td>
                <td width="32%">{{user.Email}}</td>
                <td width="21%">{{user.Skype}}</td>
                <td width="18%">{{user.Phone}}</td>
                <td width="5%">   
                    <a ng-click="$ctrl.edit(user)">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
                <td width="5%">
                    <a ng-click="$ctrl.remove(user.Id)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>